@charset "utf-8";


/* header */
/*#header{width:100%; height:132px; border-top:2px solid #f27302; background-color:#3b332b;}*/
#header{width:100%; height:50px; border-top:2px solid #f27302; background-color:#3b332b;}
/*.headerIn{height:101px; width:996px; margin:0 auto;}*/
.headerIn{height:50px; width:100%; margin:0 auto;}
.headerIn .logo{float:left; width:186px; margin:8px 0 0;}
.headerIn .logo a{display:inline-block;}

/*.headerIn .combineSearch {float:right; width:495px; margin-top:17px;}*/
.headerIn .combineSearch {float:right; width:495px; margin-top:17px;text-align:right;padding-right:10px;}
.headerIn .combineSearch a {display:inline-block; color:#fff; text-decoration:none;}
.headerIn .combineSearch .searchBox {float:left; width:348px; border:1px solid #564e46;}
.headerIn .combineSearch .searchBox .selectBox {float:left; position:relative; width:84px; border-right:1px solid #564e46;}
.headerIn .combineSearch .searchBox .selectBox .selected {display:block; height:25px; padding:1px 20px 0 10px; line-height:25px; background-image:url('../img/common/btn_selectbox.gif'); background-repeat:no-repeat; background-position:right top;}
.headerIn .combineSearch .searchBox .selectBox .selectList {display:none; position:absolute; top:26px; left:-1px; width:100%; padding:3px 0; border:1px solid #564e46; background:#3b332b; z-index:10;}
.headerIn .combineSearch .searchBox .selectBox .selectList li {padding:0 10px;}
.headerIn .combineSearch .searchBox .selectBox .selectList li a {height:15px; padding:3px 0 2px; line-height:15px;}
.headerIn .combineSearch .searchBox .textInp {float:right; width:261px; height:26px;}
.headerIn .combineSearch .searchBox .textInp .inputTxt {width:251px; height:25px; padding:1px 5px 0; line-height:25px; border:0; color:#fff; vertical-align:middle; background:none;}
.headerIn .combineSearch .searchBtn {width:26px; height:26px; margin:0 16px 0 5px; border:1px solid #564e46;}
.headerIn .combineSearch .sitemap {width:61px; height:28px;}
.headerIn .combineSearch .fBook {width:27px; height:28px;}

.gnb{position:relative; width:100%; padding:31px 0 0; z-index:5;}
.gnbIn{width:100%; /*border-bottom:2px solid #40372d;*/ background:#776d63;}
.gnbInner{position:relative; width:810px; padding:0 0 0 186px; margin:0 auto;}
.gnbInner .depth1 {overflow:hidden; width:100%; padding:0; margin:0;}
.gnbInner .depth1 > li {float:left; width:135px; text-align:center;}
.gnbInner .depth1 > li >span{cursor:default;}
.gnbInner .depth1 > li a {color:#fff; text-decoration:none;}
.gnbInner .depth1 > li .gnbM {position:absolute; top:-56px; width:135px; padding:0 0 31px; font-size:16px; font-weight:bold;}
.gnbInner .depth1 > li .m1 {left:186px;}
.gnbInner .depth1 > li .m2 {left:321px;}
.gnbInner .depth1 > li .m3 {left:456px;}
.gnbInner .depth1 > li .m4 {left:591px;}
.gnbInner .depth1 > li .m5 {left:726px;}
.gnbInner .depth1 > li .m6 {left:861px;}
.gnbInner .depth1 > li .gnbM a {display:inline-block; height:24px; padding:1px 5px 0; line-height:24px;}
.gnbInner .depth1 > li .gnbM a.on {color:#f37d1c;}
.gnbInner .depth2 {display:none; padding:20px 0;}
.gnbInner .depth2 li a {display:block; height:30px; padding:1px 0; line-height:30px;}
.gnbInner .depth2 li a:hover, .gnbInner .depth2 li a.hover {background:url('../img/common/bg_gnb_sub.gif') no-repeat left top;}


/* container */
/* main container */
#container.mainCont{background:none;}
.mainCont  #content{float:none; width:996px; margin:0 auto; padding:0; background:none;}



/* sub container */
/*#container{background:url("../img/sub/container_bg.gif") repeat-x;}*/
#container{background: url(http://report.itbob.co.kr/mlbmanage/img/sub/container_bg.gif) repeat-x;}
/*.containerIn{overflow:hidden; width:996px; margin:0 auto; background-color:#eeeeec;}*/
.containerIn{overflow:hidden; width:100%; margin:0 auto; }

/* snb(left Navi) */
/*.snb{float:left; width:200px;}*/
.snb{float:left; width:20%;min-height:1200px;}
.snbIn{position:relative; }
.snbIn .snbTit{position:absolute; top:0; left:0; width:205px; height:70px; padding:30px 0 0 18px;  background:url("../img/sub/snb_title_bg.png") no-repeat;}
.snbIn .snbTit.snbTit1{background-position: 0 0;}
.snbIn .snbTit.snbTit2{background-position: 0 -100px;}
.snbIn .snbTit.snbTit3{background-position: 0 -200px;}
.snbIn .snbTit.snbTit4{background-position: 0 -300px;}
.snbIn .snbTit.snbTit5{background-position: 0 -400px;}
.snbIn .snbTit.snbTit6{background-position: 0 -500px;}
.snbIn .snbTit.snbTit7{background-position: 0 -600px;}
.snbIn .snbTit span{display:block; padding-bottom:6px; font-size:13px; font-weight:bold; color:#bdb1a6;}
.snbIn .snbTit strong{ letter-spacing:-1px;  font-size:22px; font-weight:bold; color:#fff;}
.snbIn .snbDepth2{padding-top:100px;}
.snbIn .snbDepth2 a{text-decoration:none;}
.snbIn .snbDepth2>li>a{display:block; height:29px; padding:13px 20px 0 20px; border-bottom:1px solid #e4e4e4; font-size:15px; font-weight:bold; color:#555; background:#eeeeec url("../img/sub/snbDepth2_off.png") no-repeat right bottom;;}
.snbIn .snbDepth2>li>a.on{color:#fff; background:#4c4238 url("../img/sub/snbDepth2_on.png") no-repeat right bottom;}
.snbIn .snbDepth2 li .snbDepth3{padding:5px 21px; border-right:1px solid #efefef; border-left:1px solid #efefef; background-color:#fff;}
.snbIn .snbDepth2 li .snbDepth3 li{border-top:1px solid #f0f0f0; }
.snbIn .snbDepth2 li .snbDepth3 li a{display:block; padding:10px 10px 10px 21px; font-size:13px; color:#888; background:url("../img/sub/snbDepth3_off.png") no-repeat;}
.snbIn .snbDepth2 li .snbDepth3 li a.on{color:#333; font-weight:bold; background:url("../img/sub/snbDepth3_on.png") no-repeat;}

/* footer */
#footer{padding-bottom:87px; background-color:#88837f; }
.footTopWrap{height:41px; border-top:1px solid #c0c0c0; background-color:#fff; }
.footTop, .footBtm{width:996px; margin:0 auto;}
.footTop{overflow:hidden;}
.footTop span{float:left; line-height:41px; color:#808080;}
.footBanner{float:right; margin-top:8px; }
.footBanner li{float:left; height:24px; padding:0 13px; border-left:1px solid #dcdcdc}
.footBanner li img{vertical-align:top;}
.footBtm{position:relative; height:83px; padding-top:23px; }
.footBtm span, .address{float:left;}
.address{padding-left:15px; line-height:20px; color:#fff;}
.familyBtn{float:right; width:194px; height:30px; padding-left:12px; margin-top:10px; border:1px solid #817e7c; line-height:30px; font-size:11px; color:#717070; background:#dbd8d5 url("../img/common/family_bg.gif") no-repeat right top; }
.familyBtn:hover,.familyBtn:focus{text-decoration:none;}
.familyList{display:none; position:absolute; right:1px; bottom:72px; width:206px; background-color:#dbd8d5;}
.familyList li{ border-bottom:1px dashed #fff;}
.familyList li:hover{background-color:#7c7c7c; }
.familyList li a{display:block; padding:10px; color:#717070;}
.familyList li:hover a{color:#fff; text-decoration:none;}


/*left menu*/
.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }

html { margin: 0; padding: 0; }
/*body { font-size: 100%; margin: 0; padding: 1.75em; font-family: 'Helvetica Neue', Arial, sans-serif; }*/
body { font-size: 100%; margin: 0; padding: 0; font-family: 'Helvetica Neue', Arial, sans-serif; }

h1 { font-size: 1.75em; margin: 0 0 0.6em 0; }

a { color: #2996cc; }
a:hover { text-decoration: none; }

p { line-height: 1.5em; }
.small { color: #666; font-size: 0.875em; }
.large { font-size: 1.25em; }

/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

/*.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }*/
.nestable-lists { display: block; clear: both; padding: 0px 0px; width: 97%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    /*.dd { float: left; width: 48%; }*/
    .dd { float: left; width: 100%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: 'ยกำง; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }
